name: Build
on: [ push, pull_request ]
env:
  MAVEN_OPTS: "-Dmaven.repo.local=maven.repository"
  MAVEN_CLI_OPTS: "--batch-mode --errors --fail-at-end --show-version -DinstallAtEnd=true -DdeployAtEnd=true"
jobs:
  test:
    runs-on: ubuntu-latest
    container: openjdk:11-jdk-slim
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Maven build
        run: "chmod +x mvnw && ./mvnw package -B"
      - name: Build and push Docker images
        if: github.ref == 'refs/heads/develop' || startsWith(github.ref, 'refs/tags')
        uses: docker/build-push-action@v1.1.1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: faforever/faf-gw-backend
          tag_with_ref: true
